

html, body {margin: 0; height: 100%; overflow-x:hidden;}

.container {
    display: flex;
  }

@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
  
  body {
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

html * {
    font-family: 'Arial Narrow', sans-serif !important;
}

.sign {
    letter-spacing: 2;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #52d141,
        -0.2rem 0.1rem 1rem #52d141, 0.2rem 0.1rem 1rem #52d141,
        0 -0.5rem 2rem #1d8b01, 0 0.5rem 3rem #1d8b01;
    animation: shine 0s forwards, flicker 10s infinite;
}

@keyframes blink {
    0%,22%,36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #52d141,
        -0.2rem 0.1rem 1rem #52d141, 0.2rem 0.1rem 1rem #52d141,
        0 -0.5rem 2rem #1d8b01, 0 0.5rem 3rem #1d8b01;
    }
    28%,
    33% {
        color: #52d141;
        text-shadow: none;
    }
    82%,
    97% {
        color: #1d8b01;
        text-shadow: none;
    }
    }

    .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
    }

    .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
    }

    @keyframes shine {
    0% {
        color: #197502;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #52d141,
        -0.2rem 0.1rem 1rem #52d141, 0.2rem 0.1rem 1rem #52d141,
        0 -0.5rem 2rem #1d8b01, 0 0.5rem 3rem #1d8b01;
    }
    }

    @keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}

#title 
{
    margin: 40px;
    font-size: 80px;
    text-align: center;}
#title2 
{
    margin: -60px;
    font-size: 35px;
    text-align: center;

}

#headerMargin
{
    text-align: center;
    margin: 0px 0%;
    width: 100%;
}

.btn {
    box-shadow: 0 0 10px 0 #1d8b01 inset, 0 0 10px 4px #1d8b01;
    height: 58px;
    width: 22%;
    font-size: min(3.2vw, 25px);
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    border: 2px solid #52d141;
    cursor: pointer;
    margin: 10px 1%;
    color: #70d662;
    transition: all 150ms ease-in-out;
    text-shadow: 0 0 0.6rem #1d8b01, 0 0 1.5rem #1d8b01,
        -0.2rem 0.1rem 1rem #1d8b01, 0.2rem 0.1rem 1rem #1d8b01,
        0 -0.5rem 2rem #1d8b01, 0 0.5rem 3rem #1d8b01;
}
.btn:hover {
    color: #fff;
    box-shadow: 0 0 20px 0 #ffffff inset, 0 0 25px 4px #1d8b01;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ffe6ff,
        -0.2rem 0.1rem 1rem #52d141, 0.2rem 0.1rem 1rem #52d141,
        0 -0.5rem 2rem #1d8b01, 0 0.5rem 3rem #1d8b01;
}

.select {
    border: 2px solid #ffffff;
    color: #fff;
    border-radius: 10px;
}

#gamediv {
    text-align: center;
    margin: 0px 0%;
    width: 100%;
}

.gameFormat {
    box-shadow: 0 0 0px 0 #ffffff inset, 0 0 25px 4px #1d8b01;
    width: min(30vw, 300px);
    height: min(30vw, 300px);
    border-radius: 10px;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    opacity: 80%;
    border: 2px solid #1d8b01;
    animation: fadeEffect2 4s;
}
.gameFormat:hover {
    border-radius: 50px;
    opacity: 100%;
}
#colorref {
    color: rgb(141, 248, 126);
}
#profile {
    font-size: min(4vw, 25px);
    color: #5bd64b;
    border-radius: 50px;
    text-shadow: 0 0 0.6rem #1d8b01, 0 0 1.5rem #1d8b01;
    margin: -100px 15%;
    width: 70%;
    animation: fadeEffect 4s;
}

#contactInfo {
    text-align: center;
    font-size: min(5vw, 30px);
    color: #52d141;
    border-radius: 50px;
    text-shadow: 0 0 0.6rem #1d8b01, 0 0 1.5rem #1d8b01;
    animation: fadeEffect 2s;
}

#projectsStyle {
    transform: translateY(100px);
    text-align: center;
    font-size: min(7vw, 90px);
    color: #52d141;
    border-radius: 50px;
    margin: -100px;
    padding: 0% 30%;
    text-shadow: 0 0 0.6rem #1d8b01, 0 0 1.5rem #1d8b01;
    animation: fadeEffect 2s;
}
#projectsStyle2 {
    transform: translateY(100px);
    font-size: min(5vw, 30px);
    color: #ffffff;
    border-radius: 50px;
    text-shadow: 0 0 0.6rem #1d8b01, 0 0 1.5rem #1d8b01;
    margin: 100px 0%;
    animation: fadeEffect 4s;
    width: 100%;
    text-align: center;
}
#projectsStyle3 {
    transform: translateY(100px);
    font-size: min(5vw, 30px);
    color: #ffffff;
    border-radius: 50px;
    text-shadow: 0 0 0.6rem #1d8b01, 0 0 1.5rem #1d8b01;
    margin: 100px 0%;
    animation: fadeEffect 4s;
    width: 100%;
    padding: 0% 10%;
}
#moveupdescrib {
    margin: -300px;
}
#photo {
    animation: fadeEffect 1s;
    box-shadow: 0 0 20px 0 #ffffff inset, 0 0 25px 4px #1d8b01;
    border: 5px solid #1d8b01;
    border-radius: 200px;
    margin: 30px 50%;
    transform: translateX(-150px);
    width: 300px;
    height: 300px;
}

#icon {
    border-radius: 200px;
    width: 75px;
    height: 75px;
    border: 5px solid #52d141;
    box-shadow: 0 0 20px 0 #ffffff inset, 0 0 25px 4px #1d8b01;
}

.iconHomePage {
    animation: fadeEffect 6s;
    transition: all 150ms ease-in-out;
    border-radius: 200px;
    width: 75px;
    height: 75px;
    border: 5px solid #52d141;
    box-shadow: 0 0 20px 0 #ffffff inset, 0 0 25px 4px #1d8b01;
    cursor: pointer;
}

.iconHomePage:hover {
    width: 90px;
    height: 90px;
    box-shadow: 0 0 20px 0 #ffffff inset, 0 0 25px 4px #ffffff;
}

@keyframes fadeEffect { /* from 0 to full opacity */
    from {opacity: 0;}
    to {opacity: 1;}
 }

 @keyframes fadeEffect2 { /* from 0 to full opacity */
    from {opacity: 0;}
    to {opacity: 0.80;}
 }

#groupProjectsStyle {
    font-size: min(3.5vw, 20px);
    color: #ffffff;
    border-radius: 50px;
    text-shadow: 0 0 0.6rem #1d8b01, 0 0 1.5rem #1d8b01;
    margin: -80px 5%;
    animation: fadeEffect 4s;
    width: 90%;
}

#gamescript {
    text-align: center;
    margin: 150px 0%;
    width: 100%;
    height: 70%;
}


* {
    box-sizing: border-box;
}

.timeline {
    animation: fadeEffect 3s;
    position: relative;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1300px;
    text-shadow: 0 0 0.6rem #1d8b01, 0 0 1.5rem #1d8b01;
}
.timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 1px solid #52d141;
    right: 40px;
    top: 0;
}
.timeline:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (min-width: 700px) {
    .timeline {
        padding: 2rem;
   }
    .timeline:before {
        left: calc(50% - 1px);
        right: auto;
   }
}
.timeline__item {
    box-shadow: 0 0 20px 0 #ffffff inset, 0 0 25px 4px #1d8b01;
    padding: 1rem;
    border: 2px solid #52d141;
    border-image: linear-gradient(to right, #52d141 0%, #52d141 100%);
    border-image-slice: 1;
    position: relative;
    margin: 1rem 3rem 1rem 1rem;
    clear: both;
    color:#52d141;
}
.timeline__item:after, .timeline__item:before {
    content: '';
    position: absolute;
}
.timeline__item:before {
    
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: #52d141 #52d141 transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
}
@media screen and (min-width: 700px) {
    .timeline__item {
        width: 44%;
        margin: 1rem;
   }
    .timeline__item:nth-of-type(2n) {
        float: right;
        margin: 1rem;
        border-image: linear-gradient(to right, #52d141 0%, #52d141 100%);
        border-image-slice: 1;
   }
    .timeline__item:nth-of-type(2n):before {
        right: auto;
        left: -10px;
        border-color: transparent transparent #52d141 #52d141;
   }
}
.timeline__item--year {
    
    text-align: center;
    max-width: 150px;
    margin: 0 48px 0 auto;
    font-size: 1.8rem;
    background-color: rgb(0, 0, 0);
    line-height: 1;
    border-image: none;
    padding: 0.5rem 1rem 1rem;
}
.timeline__item--year:before {
    display: none;
}
@media screen and (min-width: 700px) {
    .timeline__item--year {
        text-align: center;
        margin: 0 auto;
   }
    .timeline__item--year:nth-of-type(2n) {
        float: none;
        margin: 0 auto;
        border-image: none;
   }
    .timeline__item--year:nth-of-type(2n):before {
        display: none;
   }
}
.timeline__title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}
.timeline__blurb {
    line-height: 1.5;
    font-size: 1rem;
    margin: 0.5rem 0 0;
    color: white;
}

#addmargin {
    opacity: 0px;
    margin: 0px 0px;
    width: 100%;
    height: 150px;
}

#wrapMargin {
    border: 1px solid #52d141;
    box-shadow: 0 0 20px 0 #ffffff inset, 0 0 25px 4px #1d8b01;
    padding: 150px 0px;
    margin: 0px 10%;
}

#wrapMargin2 {
    border: 1px solid #52d141;
    box-shadow: 0 0 20px 0 #ffffff inset, 0 0 25px 4px #1d8b01;
    padding: 50px 0px;
    margin: 0px 18%;
}

#wrapMargin3 {
    border: 1px solid #52d141;
    box-shadow: 0 0 20px 0 #ffffff inset, 0 0 25px 4px #1d8b01;
    padding: 100px 0px;
    margin: 0px 18%;
}
